/* Styles for Home.js, JobDetails.js, JobCard.js */

@media (max-width: 991.98px) {
  .quantity-urgency {
    /* margin: 0 auto; */
    padding-top: 30px;
    border-top: 1px solid #cccccc;
  }

  .job-card-container-content {
    padding: 30px 40px;
  }

  .job-card-job_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    text-align: left;
    margin-bottom: 20px;
    color: #000000;
  }

  .add-view-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
  }
}

@media (min-width: 992px) {
  .job-card-container-content {
    padding: 40px 100px;
  }

  .job-card-job_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    text-align: left;
    margin-bottom: 20px;
    color: #000000;
  }

  .add-view-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
  }
  .quantity-urgency {
    padding-top: 10px;
  }
}

/* Home Hero */

.home-hero {
  width: 100%;
  height: 336px;
  background: url("../assets/hero_image.png");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.home-hero h1 {
  max-width: 500px;
  margin: 0 auto;
  padding: 150px 50px;
  text-align: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;

  color: #ecf0f1;
}

/* Search Bar */

.home-search-container {
  height: 200px;
  min-width: 300px;
  margin: 0 auto;
  padding: 40px;
  margin-top: 50px;
  background: #ffffff;
  border-top: 8px solid #ff9700 !important;
  border-radius: 12px;
}

.home-search-container h4 {
  color: #545454;
}

.search-bar {
  padding: 20px 0;
}

.search-bar input {
  height: 50px;
  border-radius: 20px;
  border: 1px #ccc solid;
  padding: 20px;
}

/* Job Cards*/

.job-card-container {
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  border-radius: 10px;
  border-top: 6px solid #41a3da !important;
}

.job-card-title-group {
  text-align: left;
}

.job-card-client_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  color: #626262;
}

.job-card-view-button {
  width: 254px;
  height: 55px;
  background: #068bc0 !important;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 2px 2px rgba(215, 215, 215, 0.25);
  border-radius: 12px;
}

.job-card-view-button:hover {
  width: 254px;
  height: 55px;
  background: #4896b4 !important;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 4px 4px rgba(215, 215, 215, 0.25);
  border-radius: 12px;
}

.job-card-view-button span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
}

.job-card-subheader {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  color: #7e7e7e;
}

.job-card-skills-button {
  background: #f0f2f5 !important;
  border: 1px solid #edeaea !important;
  /* box-shadow: 0px 2px 2px rgba(215, 215, 215, 0.112); */
  border-radius: 12px;
}

.job-card-skills-button span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #626262;
}

.job-card-quantity {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #7c7a7a;
}

.job-card-quantity-number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 28px;
  text-align: center;
}

.job-card-contact-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #050505;
}
