/* Job Details and Selected Job Styles */

@media (max-width: 991.98px) {
  .quantity-urgency {
    /* margin: 0 auto; */
    padding-top: 30px;
    border-top: 1px solid #cccccc;
  }

  .job-details-container-content {
    padding: 30px 40px;
  }

  .job-details-job_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    text-align: left;
    margin-bottom: 20px;
    color: #000000;
  }

  .add-view-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
  }
}

@media (min-width: 992px) {
  .job-details-container-content {
    padding: 40px 100px;
  }

  .job-details-job_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    text-align: left;
    margin-bottom: 20px;
    color: #000000;
  }

  .add-view-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
  }
}

.job-details-title {
  font-size: 30px;
  margin-top: 10px;
  color: #545454;
  margin-left: 10px;
}

.job-details-card-container {
  max-width: 100%;
  margin: 0 auto;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  border-radius: 10px;
  border-top: 6px solid #41a3da !important;
}

.candidate-form-container {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-top: 6px solid #41a3da !important;
}

.candidate-form-text {
  text-transform: uppercase;
  font-size: 20px;
}

.candidate-list-container {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-top: 6px solid #ff9700 !important;
}

.candidate-list {
  padding: 0px 5px;
}

.candidate-list p {
  font-size: 14px;
  color: rgb(82, 82, 82);
}

.candidate-list-headers {
  padding: 0px 5px;
}

.candidate-headers {
  font-size: 16px;
  text-transform: uppercase;
}
