.job-details-title {
  font-size: 30px;
  margin-top: 10px;
  color: #545454;
  margin-left: 10px;
}

.job-details-card-container {
  max-width: 100%;
  margin: 0 auto;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  border-radius: 10px;
  border-top: 6px solid #41a3da !important;
}

.job-details-job_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  text-align: left;
  margin-bottom: 20px;
  padding-top: 10px;
  /* identical to box height */

  color: #000000;
}

.candidate-form-container {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-top: 6px solid #41a3da !important;
}

.candidate-form-text {
  text-transform: uppercase;
  font-size: 20px;
}

.candidate-list-container {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-top: 6px solid #ff9700 !important;
}

.candidate-list p {
  font-size: 14px;
  color: rgb(82, 82, 82);
}
